onnx
onnxruntime
onnxruntime-openvino
openvino
nncf
numpy
pandas
matplotlib
scienceplots
huggingface_hub
transformers
psutil
torch
torchvision
torch-geometric
ogb
notebook
ipykernel
ipywidgets
seaborn
adjustText
